body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 16px;
  color: chocolate;
  background-color: #ebf1f1;
}

div {
  box-sizing: border-box;
  /*background: chocolate;*/
  border: 3px solid gray;
}

.height1 {
  height: 50%;
}

.height2 {
  height: 150px;
}

.blue {
  background-color: rgb(189, 84, 23);
}
.white {
  background-color: white;
}
